html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    flex-shrink: 0;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

.footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    flex-shrink: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    flex: 1;
}

h2 {
    color: #333;
}

/* Form Styling */
form {
    background: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="password"], form input[type="date"], form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background: #555;
}

form p {
    text-align: center;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Styling for the account creation link */
.form-footer {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
